#table-actions {
  padding: 15px 0;
  display: flex;
  gap: 15px;
  align-items: center;
}

.table-action-buttons {
  background: var(--primary-color);
  border: none;
  color: white;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
